@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,400,700);

body {
  font-family: 'Lato', 'Open Sans', sans-serif;
  color:#333;
  font-weight:300;
  line-height: 1.5;
  font-size: 18px;
}

.wrapper {
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

h1 {
  font-size:28px;
}

a {
    color: #39c;
    text-decoration: none;
}

p a {
    border-bottom: solid 1px #ccc;
    padding-bottom: 2px;
}

a:visited {
    color: #39c;
}

a:hover {
    color: red;
}

header {
    text-align: center;
}

header h1 {
    font-size: 28px;
    font-weight: 300;
    margin: 0;
}

header h2 {
    font-size: 16px;
    font-weight: 300;
}

header nav ul {
    list-type: none;
    padding: 0;
    margin: 0;
}

header nav li {
    display: inline-block;
}

header nav li a {
    display: block;
    padding: 10px 20px;
}

footer {
    text-align: center;
    margin-top: 40px;
}

footer #profile-links a {
    font-size: 2em;
    padding: 5px 15px;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 16px;
}

code {
    background-color: #FDF3E7;
    padding: 1px 5px;
}

pre code {
    background-color: #fff;
    padding: 0;
}

pre {
  padding:8px 15px;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

.highlighter-rouge .highlight {
    margin: 0 -15px;
}
