@import url(https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic);

@import url('/node_modules/normalize.css/normalize.css');

body {
  font-family: 'Lato', Arial, sans-serif;
  color:#333;
  font-weight: 400;
  line-height: 1.75;
  font-size: 18px;
  margin: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

a {
    color: #39c;
    text-decoration: none;
}

p a {
    border-bottom: solid 1px #ccc;
    padding-bottom: 2px;
}

a:visited {
    color: #39c;
}

a:hover {
    color: #FF5C5C;
}

header {
    text-align: center;
}

header h1 {
    font-size: 28px;
    font-weight: 300;
    margin: 0;
}

header h2 {
    font-size: 16px;
    font-weight: 300;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav li {
    display: inline-block;
}

header nav li a {
    display: block;
    padding: 10px 20px;
}

footer {
    text-align: center;
    margin-top: 40px;
}

footer #profile-links a {
    font-size: 2em;
    padding: 5px 15px;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  font-size: 16px;
}

code {
    background-color: #FDF3E7;
    padding: 1px 5px;
    color: #333;
}

pre code {
    color: #fff;
    padding: 0;
    background-color: #333;
}

pre {
  padding: 10px 15px;
  overflow-x: auto;
}

pre.highlight {
    background-color: #333;
}

.highlighter-rouge .highlight {
    margin: 0 -15px;
}

article > h2#post-title {
    margin-bottom: 0;
}

dd {
    margin-bottom: 20px;
}

blockquote {
    font-style: italic;
    border-left: solid 5px #39c;
    padding-left: 20px;
    margin-left: 0;
}